* {
    padding: 0;
    margin: 0;
} 

body {
background: #000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
line-height: 18px;
color: #aaa;
}

header h1 {
font-size: 26px;
font-weight: 100;
letter-spacing: -3px;
padding: 12px 0 5px 10px;
}

.left {
margin-top: 10px;
width: 855px;
float: left;
text-align: justify;
border: 5px solid #222;
border-radius: 15px;
padding: 10px;
background: #333;
}

.right {
margin-top: 10px;
width: 160px;
float: right;
border: 5px solid #222;
font-size: 12px;
padding: 10px;
background: #333;
}
.right ul {
list-style-type: square;
padding: 5px 10px 10px 20px;
color: #59799F;
}
.right h2 {
height: 30px;
font-size: 12px;
color: #666;
line-height: 30px;
}
.right a { text-decoration: none }

section.graph {
width: 640px;
height: 480px; 
float: left;
}

aside.menu {
height: 480px;
position: relative;
float: right;
width: 150px;
top: 50px;"        
}

#footer {
margin-top: 10px;
text-align: center;
color: #eee;
font-size: 11px;
border: 5px solid #222;
padding: 10px;
background: #333;
}

input.days {
font-family:Arial,sans-serif;
color:#FFFFFF;
font-size:12px;
border: 3px double #AFAFAF;
border-radius: 8px;
background-color: #5F5F5F;
padding:3px;
}